<div class="container">
  <div class="logo-container">
      <a href="/" class="brand-logo">
          <img src="/images/TravelBudLogo.png" class="logo-image" alt="" width="200px">
      </a>
  </div>
  <div class="title">
      <h5>Find your perfect destination in seconds</h5>
  </div>
  <nav>
  
    <div class="nav-wrapper cyan">
      
      
      <form action ='/ai/destinations' method="POST">
        <div class="input-field">
          <input id="search" name ="search" type="search" placeholder="Tell us about your dream destination and we'll find it for you!" required>
          
          <label class="label-icon" for="search"><i class="fas fa-search"></i></label>
          
        </div>
        <input type="submit" name="submit" id="submit" hidden>

        
    <div class="row">
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s4">
        <div class="center promo promo-example">
          <i class="material-icons">flash_on</i>
          <h6 class="promo-caption">
            Example: "I need a Ski resort with a craft brewery nearbye. I'd like access to a spa and high quality dining"<br>
            <br>
            OR <br><br>"I need a tropical resort that offers group rates and also allows kids. There should be at least 3 pools"
          </h6>
          
        </div>
        
      </div>
      
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
          
       
      </form>
    </div>
  </nav>
  
</div>