<div class="container">
  <div class="title"><h5>Find your perfect destination in seconds</h5></div>
  
<nav>
  <div class="nav-wrapper cyan">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="fas fa-search"></i></label>
        <i class="fa fa-close">close</i>
      </div>
    </form>
  </div>
</nav>

</div>