* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.8)), url(../images/background1.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;

  
}

 h5,h6{
   color: aliceblue;
 }

 .loader{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  transition: opacity 0.75s,visibility 0.75s;
  
 }

 .loader-hidden{
  opacity: 0;
  visibility: hidden;
 }

 .loader::after{
  content: "";
  width:75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;


 }
 @keyframes loading{
  from{
    transform: rotate(0turn);

  }
  to{
    transform: rotate(1turn);
  }
 }