body{
  background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9),url(../images/background1.jpg)) !important;
}
p{
   
  margin: 10px 0 !important;
}

.btn-float{
  float:left !important; 
  margin-right:10px !important;
}

.fa-small{
  font-size: 16px !important;

}
.logo-image {
  max-height: 120px; /* Adjust this value as per your navbar's height */
  width: auto; /* This ensures the width adjusts proportionally */
  vertical-align: middle;
  
 
    padding: 15px 0!important;
}


@media screen and (max-width: 600px) {
  .logo-image {
      max-height:70px; /* Smaller size for mobile devices */
  }
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh; 
  background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9),url(../images/background1.jpg)) !important;
}

.logo-container {
  margin-bottom: 20px; 
}

.nav-wrapper {
  width: 100%; /* Adjust width as per requirement */
  display: flex;
  justify-content: center;
}

.input-field {
  width: 100%; /* Adjust width as per requirement */
}

/* Additional styles */
.brand-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
